<%= javascript_include_tag "prototype" %>
<%= calendar_date_select_includes %>
<%= image_tag 'TKDwebLine.jpg' %><br>
<h1>Editing student</h1>

<table><tr><td>
    <%= form_for(@student) do |f| %>
     <table>
     <tr>
      <td><b><%= f.label :first_name%>:</b></td>
      <td><%= f.text_field :first_name%></td>
     </tr>

     <tr>
      <td><b><%= f.label :last_name%>:</b></td>
      <td><%= f.text_field :last_name %></td>
     </tr>

      <tr>
      <td><b><%= label_tag("School:") %></b></td>
      <td><%= collection_select(:student, :school_id, School.find(:all), :id, :name, {:selected => @student.school_id}) %></td>
     </tr>

      <tr>
      <td><b><%= f.label :rank %>:</b></td>
       <td><%= f.select("rank",  GupNames.for_html_select);%></td>
     </tr>

      <tr>
      <td><b><%= label_tag("Add Classes:") %></b></td>
      <td><input name="number_of_classes" type="text" /></td>
      </tr>

      <tr>
        <td><b><%= f.label :active %></b></td>
        <td><%= f.check_box :active %></td>
      </tr>

    </table>
      <p>
        <%= f.submit "Update Student Record" %>
      </p>
    <% end %>
</td>
<td width="20%">&nbsp</td>
<td valign='top' >
    <%= form_for(@test) do |t| %>
    <table border='1'><tr><td>
      <table>
          <tr><td><h2>Add Test</h2></td></tr>
          <tr>
            <td><b><%= t.label("date") %>:</b></td>
            <td><%= calendar_date_select_tag "tkd_test[date]"%></td>
          </tr>

          <tr>
            <td><b><%= t.label("Tested For") %>:</b></td>
            <td><%=  t.select("test_for",  GupNames.for_html_select); %></td>
          </tr>

          <tr>
            <td><b><%= t.label("Result") %>:</b></td>
            <td><%=  t.select("result",  ["passed", "improvements needed", "recommended", "fail"]); %></td>
          </tr>

          <tr>
            <td><b><%= t.label("Tester") %>:</b></td>
            <td><%= select_tag("tkd_test[tester]", options_for_select(@active_black_belt_names_for_select), {:include_blank => true} ) %></td>
          </tr>

          <tr>
            <td><b><%= t.label("Comments") %>:</b></td>
            <td><%=  t.text_area(:comments, :size => '35x6'); %></td>
          </tr>

         <tr>
          <td><%= t.hidden_field :student_id, :value => @student.id %></td>
         </tr>

          <tr><td><%= t.submit "Add Test" %></td></tr>
      </table>
    </td></tr></table>
<% end %>
</td>
</tr></table>


	<div style='float:left;'>
	  <h2>Attendances</h2>
	  <table border='2' style='margin-right:1em'>
	  	  <tr>
	  	  	<td><b>Date</b></td>
			<td><b>Number of Classes</b></td>
	  	  </tr>
		  <% for attendance in @student.attendances%>
		  	<tr style="background-color:<%=cycle('lightblue', 'white')%>">
		  		<td><%= Time.parse(attendance.date.to_s).strftime("%Y-%b-%d") %></td>
				<td><%= attendance.number_of_classes%></td>
		  	</tr>
		  <% end %>
	  </table>
	</div>



	<div style='float:left;'>
	  <h2>Tests</h2>
	  <table border='2' >

	  	  <tr>
            <td>&nbsp</td>
	  	  	<td align='center'><b>Date</b></td>
            <td align='center'><b>Tested For</b></td>
            <td align='center'><b>Result</b></td>
			<td align='center'><b>Tester</b></td>
			<td align='center'><b>Comments</b></td>
	  	  </tr>
		  <% for test in @student.tests%>
		  	<tr style="background-color:<%=cycle('lightblue', 'white')%>">
                <td valign='middle'><%= link_to "Edit", edit_tkd_test_path(test) %></td>
		  		<td valign='middle'><%= Time.parse(test.date.to_s).strftime("%Y-%b-%d") %></td>
                <td valign='middle'><%= GupNames.by_gup[test.test_for] %></td>
                <td valign='middle'><%= test.result %></td>
				<td valign='middle'><%= test.tester %></td>
				<td valign='top' style='width:20em;height:4em'><%= test.comments %></td>
		  	</tr>
		  <% end %>
	  </table>
	</div>
