<img src="TKDwebLine.jpg" /><br>
  <table>
  <tr>	
  <td><b><%=  label_tag("First name") %>:</td>
  <td><%=  label_tag(@student.first_name) %></td>
  </tr>
  
  <tr>
  <td><b><%=  label_tag("Last name") %>:</td>
  <td><%=  label_tag(@student.last_name) %></td>
  </tr>
  
  <tr>
  <td><b><%= label_tag("School") %>:</td>
  <td><%= label_tag(@student.school.name) %></td>
  </tr>
  
  <tr>
  <td><b><%=  label_tag("Rank") %>:</td>
  <td><%=  label_tag(GupNames.by_gup[@student.rank]) %></td>
  </tr>
  
  <tr>
  <td><b><%=  label_tag("last_test")%>:</td>
  <td><%=  label_tag(@student.last_test)%></td>
  </tr>
  
  <tr>
  <td><b><%=  label_tag("Inactive")%>:</td>
  <td><%=  label_tag(@student.inactive)%></td>
  </tr>  
</table>

<br>
	
<% if @student.attendances.length > 0 then %>
	<div style='float:left;'>
	  <h2>Attendances</h2>
	  <table border='2' style='margin-right:1em'>
	  	  <tr>
	  	  	<td><b>Date</b></td>
			<td><b>Number of Classes</b></td>
	  	  </tr>
		  <% for attendance in @student.attendances%>
		  	<tr style="background-color:<%=cycle('lightblue', 'white')%>">
		  		<td><%= attendance.date %></td>
				<td><%= attendance.number_of_classes%></td>
		  	</tr>
		  <% end %>
	  </table>
	</div>
<% end %> 


<% if @student.tests.length > 0 then %>
	<div style='float:left;'>
	  <h2>Tests</h2>
	  <table border='2' >

	  	  <tr>
	  	  	<td align='center'><b>Date</b></td>
	  	  </tr>
		  <% for test in @student.tests%>
		  	<tr style="background-color:<%=cycle('lightblue', 'white')%>">
		  		<td valign='top'><%= test.date %></td>
		  	</tr>
		  <% end %>
	  </table>
	</div> 
<% end %> 	


  
 |

