<%= javascript_include_tag "prototype" %>
<%= calendar_date_select_includes %>

<%= image_tag 'TKDwebLine.jpg' %><br>
<h1>Bulk Test Entry</h1>

<%= form_tag("create_multiple", :method=>'post', :id => 'tkd_tests_sets_form') do %>
    <%= select_tag "school_select", options_from_collection_for_select(@schools, "name", "name"), :prompt => "Choose School"  %>
    <%= label_tag("Enter Test Date:") %>
    <%= calendar_date_select_tag "test_date" %>
    <%= submit_tag "Save Tests" %>
    <% @schools.each do |school| %>
        <div id="<%=  school.name %>" >
          <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Testing for</th>
              <th>Result</th>
              <th>Evaluator</th>
              <th>Comments</th>
            </tr>
            </thead>
            <% school.students.each do |student| %>
                <% if student.active && (student.rank > 1) %>
                    <tr>
                      <td  valign="top"><%= "#{student.last_name}, #{student.first_name}" %></td>
                      <td  valign="top"><%= select_tag("students[#{student.id}][test_for]",  options_for_select(GupNames.for_html_select), {:include_blank => true}) %></td>
                      <td  valign="top"><%= select_tag("students[#{student.id}][result]",  options_for_select([["passed","passed"], ["improvements needed","improvements needed"], ["recommended","recommended"], ["fail","fail"]]), {:include_blank => true}) %></td>
                      <td  valign="top"><%= text_field_tag "students[#{student.id}][tester]" %></td>
                      <td  valign="top"><%= text_area_tag "students[#{student.id}][comments]", nil, :rows => 4, :cols => 40 %></td>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </div>
    <% end %>
<% end %>

<script type="text/javascript">
    Event.observe('school_select', 'change', function(event) {
        alert( "got here")
        <% @schools.each do |school| %>
         $('<%= school.name %>').hide()
        <% end %>
        var schoolName = event.target.getValue()
        if (!schoolName.blank()) $(schoolName).show() // Finds the selected school div and shows it, unless the value is blank
    })
</script>
