<%= javascript_include_tag "prototype" %>
<%= calendar_date_select_includes %>
<%= image_tag 'TKDwebLine.jpg' %><br>
<h1>List Students Eligible to Test</h1>

<p style="color: red"><%= flash[:error] %></p>

<%= form_tag("/reports/show", :method=>'get') do %>
    <%=  hidden_field_tag("param1", "certificate_request") %>
<table>
	<tr>
	<td><%= label_tag("Enter Test Date:") %></td>
	<td><%= calendar_date_select_tag "test_date" %></td>
	</tr>
	
	<tr>
	<td><%= label_tag("Choose school:") %></td>
	<td><select name="school">
		<option > </option>
		<% for school in @schools %>
			<option value='<%= school.id %>' ><%= school.name %></option>
		<% end %>
	</select></td>
	</tr>
</table>
	<%= submit_tag("Get information for certificate request") %>
<% end %>

<p><%= flash[:notice] %></p>

<% if @students_that_tested.length > 0 then %>
<table>
	<tr>
		<td><b>Name</b></td>
        <td><b>Rank Tested For</b></td>
        <td><b>Date Tested</b></td>
		<td><b>Instructor</b></td>
    </tr>
	<% @students_that_tested.each do |student| %>
	    <tr style="background-color:<%=cycle('lightblue', 'white')%>" >
		 <td><%= student.last_name%>, <%= student.first_name%></td>
		 <td><%= GupNames.by_gup[student.tests.first.test_for] %></td>
          <td><%= student.tests.first.date %></td>
          <td><%= student.tests.first.tester %></td>
		</tr>
	<% end %>
<% end %>
</table>



