<%= javascript_include_tag :defaults %>
<%= image_tag 'TKDwebLine.jpg' %><br>
<h1>List Students Eligible to Test</h1>

<p style="color: red"><%= flash[:error] %></p>

<%= form_tag("/reports/test_eligibility", :method=>'post') do %>
<table>
	<tr>
	<td><%= label_tag("Enter Test Date:") %></td>
	<td><%= date_select_tag "test_date" %></td>
	</tr>
	
	<tr>
	<td><%= label_tag("Choose school:") %></td>
	<td><select name="school">
		<option > </option>
		<% for school in @schools %>
			<option value='<%= school.id %>' ><%= school.name %></option>
		<% end %>
	</select></td>
	</tr>
	
	<tr>
	<td><%= label_tag("Credit Additional Classes")%></td>
	<td><%= text_field_tag("fudge_factor") %></td>
	</tr>
</table>
	<%= submit_tag("List Eligible Students") %>
<% end %>

<p><%= flash[:notice] %></p>

<% if @students_eligible_to_test.length > 0 then %>
<table>
	<tr>
		<td><b>Name</b></td>
		<td><b>Testing For</b></td>
    </tr>
	<% for student in @students_eligible_to_test %>	
	    <tr style="background-color:<%=cycle('lightblue', 'white')%>" >
		 <td><%= student.last_name%>, <%= student.first_name%></td>
		 <td><%= GupNames.by_gup[student.rank - 1] %></td>
		</tr>
	<% end %>
<% end %>
</table>



